.board{
    margin: 0px 1.875rem;
    background: #f5f8ff;
    .board__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .board__nav{
            text-align: right;
        }
    }
}
.board__content{
    position: absolute;
    overflow-x: scroll;
    width: 97.5%;
    display: flex;
    flex-flow: row;
    background: #f5f8ff;
    
    .list__add{
    max-width: 300px;
    min-width: 255px;
    max-height: 25vh;
    box-shadow: 0 0 18px rgba(10, 23, 48, 0.05);
    background-color: white;
    padding: 1.875rem 1.375rem;
    margin-right: 1.25rem;
    .list__add__title{

    }
    .list__add__content{  
         .input-group{
            input{
                font-size: 30px;
            }
            button{
                border-radius: 0 5px 5px 0;
                border: 1px solid #c8c8c8;
                background-color: #4e88ff;
                .icon-color{
                    
                }
                img{
                    height: 1.5rem;
                }
            }
        }
    }
}
}