.navbar, .navbar-default{
            z-index: 5;
            height: 4.5rem;
            border:none;
            box-shadow: -6px 10px 40px rgba(21, 15, 24, 0.05);
            background-color: #ffffff;

        .navbar-brand{
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            left: 0;
            margin:0 auto;
            img{
                width: 71px;
                height: 20px;
            }
        }
        .navbar-toggle {
            z-index:3;
        }
        .navbar-collapse.collapse {
            background: #f5f8ff;
            .navbar-form.navbar-left{
                input{
                    border-radius: 5px 0 0 5px;
                    border: 1px solid #c8c8c8;
                    background-color: #ffffff;
                }
                button{
                    border-radius: 0 5px 5px 0;
                    border: 1px solid #c8c8c8;
                    background-color: #4e88ff;
                    .icon-color{
                        
                    }
                    img{
                        height: 1.5rem;
                    }
                }
                
            }
            .nav.navbar-nav.navbar-left, .nav.navbar-nav.navbar-right{
                 li{ 
                    &:first-child{
                        display: flex;
                        justify-content: center;
                    }
                    text-align: center;
                    a{
                        img {
                            height: 20px;
                        }
                    }
                }
            }
        }
        .navbar-collapse.collapsing, .navbar-collapse.collapse.in {
            background: #f5f8ff;
            .nav.navbar-nav.navbar-left, .nav.navbar-nav.navbar-right{
                li{
                    &:first-child{
                        display: flex;
                        justify-content: center;
                    }
                    text-align: center;
                    a{
                        img {
                            height: 20px;
                        }
                    }
                }
            }
        }

}       
    

@media (min-width: 768px){
    .navbar {
        border-radius: none;    
    }
}

@media (min-width: 768px){
    body .container-fluid .navbar.navbar-default .navbar-collapse.collapse.in,
    body .container-fluid .navbar.navbar-default .navbar-collapse.collapse
    {
            .navbar-form{
                width: 30%;
            }
        }

}