<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="src/favicon.ico" type="image/x-icon" />
    <title>Trello</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
